NAME="HarvesterOS"
VERSION="v${OS_VERSION} (${OS_GIT})"
ID="harvesteros"
ID_LIKE="suse opensuse"
VERSION_ID="${OS_VERSION}"
PRETTY_NAME="${OS_NAME} v${OS_VERSION} (${OS_GIT})"
ANSI_COLOR="0;32"
BUG_REPORT_URL="https://github.com/harvester/os2/issues"
HOME_URL="https://github.com/harvester/os2"
IMAGE="${OS_REPO}:${OS_LABEL}"
IMAGE_REPO="${OS_REPO}"
IMAGE_LABEL="${OS_LABEL}"
